html, body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
}

* {
  font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  outline: none;
}